<a href="https://colab.research.google.com/github/ldhl2714/AI-Python/blob/main/210105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")

for line in lines:
  field = line.split(",")
  print("Name:", field[0],"Age:", field[1],"Occupation:",field[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [ ]:
data = 'Geeks for Geeks'
data_s=data.split(' ')
data_j='-'.join(data_s)

print(data_s)
print(data_j)

['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

In [ ]:
data = [1, 2, 3, 4, 5]
squares = [x**2 for x in data if x%2 == 0]
print(squares)

[4, 16]

In [ ]:
squares3 = [x**2 for x in range(21) if x%3==0]
print(squares3)

[0, 9, 36, 81, 144, 225, 324]

In [ ]:
data = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
word = [x for x in data if 'S' in x]
print(word)

['Seoul', 'Shanghai']

In [ ]:
fruits = ['apple','banana', 'cherry']
for index, fruit in enumerate(fruits):
  print(index,fruit)

0 apple
1 banana
2 cherry

In [ ]:
data=['a','b','c']
for index, name in enumerate(data):
  print('fruit',index,'name is',name)

fruit 0 name is a
fruit 1 name is b
fruit 2 name is c

In [ ]:
data=['a','b','c']
for name in range (3):
  print('fruit',name,'name is',data[name])

fruit 0 name is a
fruit 1 name is b
fruit 2 name is c

In [ ]:
names = ['M','N','S','A']
roll_no = [4,1,3,2]
name_roll=dict(zip(names,roll_no))
print(name_roll)

{'M': 4, 'N': 1, 'S': 3, 'A': 2}

In [ ]:
names=['M','R','C']
ages=[24,50,18]
for name, age in enumerate(zip(names,ages)):
  print(f"{name} {age}")

0 ('M', 24)
1 ('R', 50)
2 ('C', 18)

In [ ]:
add=lambda x,y: x+y
print(add(5,5))

10

In [1]:
a,b,c=map(int,input().split())
num=[a,b,c]
num=sorted(num)
if a==b or b==c or a==c:
  print ('wrong value')
else:
  print(num[2], num[1], num[0])

2 8 2
wrong value

In [2]:
sec=int(input())
hour=sec//3600
min=(sec%3600)//60
sec=(sec%3600)%60

print(hour,'시',min,'분',sec,'초')

11730
3 시 15 분 30 초