<a href="https://colab.research.google.com/github/ldhl2714/AI-Python/blob/main/2_06_2_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#2.6 변수 활용
Lab=105
print('우리가 수업하는 실습실:')
print(Lab)

우리가 수업하는 실습실:
105

In [2]:
#2.7 변수활용
Lab=105
print('우리가 수업하는 실습실: ',Lab)

우리가 수업하는 실습실:  105

In [3]:
#2.8 변수 두 개 활용
my_id = 20150001
grade = 1

print('나의 학번: ')
print(my_id)
print('학년: ')
print(grade)

나의 학번:
20150001
학년:
1

In [5]:
#2.9 변 수 값 할당 및 출력
dollars = 2.75
print('I have',dollars,'in my account.')

dollars = 99.95
print('But now I have', dollars,'in my account!')

I have 2.75 in my account.
But now I have 99.95 in my account!

In [6]:
#2.10  두 문자열 변수
department = '국어국문학과'
name = '홍길동'

print(department, name)

국어국문학과 홍길동

In [16]:
#2.11
department = input('학과명: ')
name = input('성명: ')

print('안녕하세요', department, name)

학과명: 국어국문학과
성명: 홍길동
안녕하세요 국어국문학과 홍길동

In [15]:
#2.12
name = input('당신의 이름은 무엇입니까?')
age = int(input('나이는 어떻게 되시나요?'))
attending_time = float(input('통학시간은 얼마나 걸립니까?'))

print('입력 정보는 다음과 같습니다.')
print('이름:',name)
print('나이:',age)
print('통학시간:', attending_time)

당신의 이름은 무엇입니까?홍길동
나이는 어떻게 되시나요?20
통학시간은 얼마나 걸립니까?2
입력 정보는 다음과 같습니다.
이름: 홍길동
나이: 20
통학시간: 2.0

In [11]:
#2.13
salary = 2500.0
bonus = 1200.0
pay = salary + bonus

print('총 급여: ',pay)

총 급여:  3700.0

In [12]:
#2.14
o_price = float(input("제품의 원가를 입력해주세요:"))
discount = o_price * 0.2
s_price = o_price - discount

print('할인가격: ',s_price)

제품의 원가를 입력해주세요:1000
할인가격:  800.0

In [13]:
#2.15
test1 = float(input(' 첫 번째 과목 점수를 입력해주세요. '))
test2 = float(input(' 두 번째 과목 점수를 입력해주세요. '))
test3 = float(input(' 세 번째 과목 점수를 입력해주세요. '))
average = (test1 + test2 + test3) / 3.0

print('세 과목의 평균 점수:',average)

 첫 번째 과목 점수를 입력해주세요. 90
 두 번째 과목 점수를 입력해주세요. 80
 세 번째 과목 점수를 입력해주세요. 85
세 과목의 평균 점수: 85.0

In [14]:
#2.16
t_sec = float(input('시간 값을 초 단위로 입력해주세요: '))
hour =  t_sec // 3600
minute = (t_sec // 60) % 60
sec = t_sec % 60

print('시 분 초는 다음과 같습니다.')
print('시: ', hour)
print('분: ', minute)
print('초: ', sec)

시간 값을 초 단위로 입력해주세요: 11730
시 분 초는 다음과 같습니다.
시:  3.0
분:  15.0
초:  30.0